@font-face {
  font-family: 'JMH Typewriter-Thin';
  src: url('JMH\ Typewriter-Thin.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: 'JMH Typewriter-Thin', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e2f;
}
* {
  box-sizing: border-box;
  font-family: 'JMH Typewriter-Thin', sans-serif;
}

#welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.5s ease-in-out;
}

#enter-button {
  background: white;
  color: black;
  font-size: 1.5em;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, background 0.3s;
}

#enter-button:hover {
  transform: scale(1.1);
  background: #7289da;
  color: white;
}

.hidden {
  display: none;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#bio {
  text-align: center;
  z-index: 1;
}

#discord-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #7289da;
}

#discord-username {
  margin: 10px 0;
}

#discord-status {
  margin: 0;
  font-size: 1.2em;
}
#links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

#links img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#links a:hover {
  transform: scale(1.2);
}


.snowflake {
  position: fixed;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fall 3s linear;
}

@keyframes fall {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(100px);
  }
}
